.container {
  text-align: center;
  width: 80%;
  margin: auto;
}

h1 {
    padding: 1rem 2rem;
    color: #fff;
    background: rgb(0, 105, 153);
    -webkit-box-shadow: 5px 5px 0 #003a70;
    box-shadow: 5px 5px 0 #000b70;
    width: 70%;
    margin: 50px auto;
  }

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  text-align: center;
  margin: 50px auto;
}

select, option{
    border:skyblue 2px inset;
  }



.check_btn {
    display: none;
}
